<h2 mat-dialog-title>Create Category</h2>
<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
      @if (categoryForm.get('name')?.hasError('required')) {
      <mat-error>Name is required</mat-error>
      } @if (categoryForm.get('name')?.hasError('minlength')) {
      <mat-error>Name must be at least 3 characters</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Created By</mat-label>

      <mat-select formControlName="createdBy" required>
        @for (user of users(); track user.id) {
        <mat-option [value]="user.id"
          >{{ user.firstName + ' ' + user.lastName }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="!categoryForm.valid"
  >
    Save
  </button>
</mat-dialog-actions>
