@use '@angular/material' as mat;
@include mat.core();

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.45);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 26px;
}
a {
  margin: 8px 0;
}
